{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="ui center aligned container" style="margin-top: 64px;">
        <div class="ui vertical ordered steps">
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.one' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.two' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.three' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.four' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.five' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.six' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.seven' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.eight' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.nine' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.ten' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.eleven' | trans }}</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">{{ 'label.twelve' | trans }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
