<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="ui menu">
    <div class="ui container">
    <div class="item">
        {{ 'validator.test' | trans({}, 'validators') }}
    </div>
    <div class="right menu">
        <div class="ui simple dropdown item">
            {{ app.request.locale|locale_name(app.request.locale)|u.title }} <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{{ path('homepage', {_locale: 'de'}) }}">Deutsch</a>
                <a class="item" href="{{ path('homepage', {_locale: 'en'}) }}">English</a>
                <a class="item" href="{{ path('homepage', {_locale: 'es'}) }}">Español</a>
                <a class="item" href="{{ path('homepage', {_locale: 'nl'}) }}">Nederlands</a>
            </div>
        </div>
    </div>
    </div>
</div>
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
